.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 561px;
  background-color: #0000008c;
}

.reset-modal-div {
  position: fixed;
  top: 15%;
  padding: 10px 0;
  margin: 0 10px;
  width: 280px;
  min-height: 90px;
  border-radius: 3px;
  background-color: #545454;
  box-shadow: 0 0 25px #1b1b1b;
}

.reset-modal-div > h1 {
  margin: 0 0 10px 0;
  padding: 0 10px;
  font-size: 20px;
  text-align: center;
}

.reset-modal-div > div {
  margin: auto;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-modal-div > div > button {
  margin: 0 5px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Noto Sans';
  background-color: #373737;
  border: 0;
  color: #e8e8e8;
  padding: 5px 0;
  border-radius: 3px;
}
