.settings-pane > button {
  position: fixed;
  top: 10px;
  right: 15px;
}

.settings-pane > h1 {
  flex: 0 0 100%;
  margin: 10px 0;
  font-size: 35px;
  text-align: left;
  padding-left: 10px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
