.settings-header {
  flex: 0 0 100%;
  min-height: 20px;
  background-color: #424242;
  color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 10px;
  font-weight: bold;
  font-size: 13px;
}

.settings-header > p {
  margin: 0;
  flex: 1 0 70%;
}

.settings-row {
  flex: 0 0 100%;
  min-height: 35px;
  color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid #4b4b4b;
}

.settings-row > p {
  margin: 0;
  flex: 1 0 70%;
  font-size: 13px;
}

.settings-row > button {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0;
}

.section-wrapper {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
