a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

body {
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: '10px';
}

textarea:focus,
input:focus {
  outline: none;
}

main {
  height: 561px;
  width: 300px;
  background-color: #212121;
  font-family: NotoSans;
  color: #e8e8e8;
  position: relative;
  overflow: hidden;
}

.inputIconActive:active {
  background-color: #343434;
}

/* =================== */
/* | Header Elements | */
/* =================== */

.btnReset {
  background: none;
  color: inherit;
  font: inherit;
  outline: inherit;
  border: inherit;
  text-decoration: none;
  padding: 0;
}

.inputIcon {
  cursor: pointer;
  flex: 1 1 100%;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: #cccccc;
}

/* ======================= */
/* | Search Row Elements | */
/* ======================= */

.fs-modal-div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #545454;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 25px #2d2d2d;
}

.hidden {
  z-index: -1;
  opacity: 0;
}

.hide {
  transition: 0.4s;
  z-index: -1;
  opacity: 0;
}

.show {
  transition: 0.4s;
  z-index: 6;
  opacity: 1;
}
